# Settings that have been commented out are optional

# Application config
CLIENT_ID= # Client_id gotten from the twitch dev console
CLIENT_SECRET= # Client_secret gotten from the twitch dev console
# REDIRECT_URL= # Redirect URL that has been set in the twitch dev console. Defaults to: http://localhost:3456
# REDIRECT_PORT= # Redirect port if the REDIRECT_URL has not been set. Defaults to 3456. This is also the port the bot will listen on to authenticate
# COMMAND_PREFIX= # The prefix which will be used to activate commands. Defaults to '!'. When requiring a space between prefix and command, escape the space with a backslash

# The Twitch IDs required below can be gotten from this website: https://www.streamweasels.com/tools/convert-twitch-username-to-user-id/

# Streamer config
STREAMER_ID= # Twitch ID of the streaming user

# Chatter config
CHATTER_ID= # Twitch ID of the chatting user
CHATTER_IS_STREAMER= # If the bot that activates on commands is on the same account as the streamer, set this to true. Make sure the STREAMER_ID and CHATTER_ID match in that case.

# Pocketbase config
# POCKETBASE_URL= # Pocketbase URL. Defaults to localhost:8090
